# Dependencies
/node_modules
/.pnp
.pnp.*

# Next.js output
/.next/
/out/
/build/

# Local environment files
.env*
!.env.example

# Deployment
.vercel

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript cache
*.tsbuildinfo

# OS and editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
